*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }
  @media only screen and (max-width: 28.125em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (max-width: 21.875em) {
    html {
      font-size: 31.25%; } }
  @media only screen and (max-width: 18.75em) {
    html {
      font-size: 25%; } }
  @media only screen and (max-width: 18.75em) {
    html {
      font-size: 18.75%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, #FFFFFF, #FFF8AA);
  padding: 1rem;
  font-family: 'Noto Serif', serif;
  font-weight: 500;
  line-height: 1.3;
  font-size: 1.6rem; }

.u-center-text {
  text-align: center !important; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .main > * {
    margin-bottom: 3.5rem; }
  .main > :last-child {
    margin-bottom: 0rem; }

.container-1 {
  width: 30vw;
  height: 23vh; }
  .container-1 img {
    height: 100%;
    width: 100%; }
  @media only screen and (max-width: 75em) {
    .container-1 {
      height: 18vh;
      width: 40vw; } }
  @media only screen and (max-width: 56.25em) {
    .container-1 {
      width: 43vw; } }
  @media only screen and (max-width: 37.5em) {
    .container-1 {
      width: 50vw; } }
  @media only screen and (max-width: 28.125em) {
    .container-1 {
      width: 55vw; } }
  @media only screen and (max-width: 21.875em) {
    .container-1 {
      width: 60vw; } }
  @media only screen and (max-width: 18.75em) {
    .container-1 {
      width: 70vw; } }

.container-2 {
  display: flex;
  flex-direction: row; }
  .container-2--1 {
    flex: 0 0 32%; }
    .container-2--1 img {
      width: 100%;
      height: 100%; }
  .container-2--2 {
    flex: 1;
    display: flex;
    flex-direction: column; }
    .container-2--2 > * {
      padding-bottom: 1.5rem; }
    .container-2--2 h3 {
      font-weight: 700;
      font-size: 2rem; }
    .container-2--2 ul {
      padding-left: 3rem; }
    .container-2--2-3 {
      flex: 0 0 40%;
      padding-left: 3rem; }
      .container-2--2-3 img {
        height: 100%;
        width: 100%; }

.container-4 {
  width: 80%; }
  .container-4 img {
    width: 100%;
    height: 100%; }

.red-border {
  border-top: 2px solid #EC3237;
  width: 100%; }

.container-7 {
  font-weight: 700; }

.features {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 1.2; }
  .features span:not(:last-child) {
    border-right: 1px solid #EC3237; }
  .features span {
    padding: 0 1rem; }

.footer {
  background-color: #EC3237;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #FFF8AA;
  flex-wrap: wrap;
  align-items: center;
  height: 20vh; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 30vh; }
      .footer > * {
        margin-bottom: 5rem; }
      .footer > :last-child {
        margin-bottom: 0rem; } }
  @media only screen and (max-width: 21.875em) {
    .footer {
      height: 45vh; }
      .footer > * {
        margin-bottom: 6rem; }
      .footer > :last-child {
        margin-bottom: 0rem; } }
  @media only screen and (max-width: 18.75em) {
    .footer > * {
      margin-bottom: 10rem; }
    .footer > :last-child {
      margin-bottom: 0rem; } }
  @media only screen and (max-width: 15.625em) {
    .footer {
      height: 50vh; } }
  .footer-1 {
    position: relative;
    padding-left: 5rem; }
    .footer-1-fig {
      position: absolute;
      left: 0%;
      top: -130%;
      border-radius: 50%;
      height: 40px;
      width: 40px; }
      @media only screen and (max-width: 56.25em) {
        .footer-1-fig {
          left: -5%; } }
      @media only screen and (max-width: 28.125em) {
        .footer-1-fig {
          left: -10%; } }
      @media only screen and (max-width: 21.875em) {
        .footer-1-fig {
          left: -15%; } }
      @media only screen and (max-width: 18.75em) {
        .footer-1-fig {
          left: -25%; } }
      @media only screen and (max-width: 15.625em) {
        .footer-1-fig {
          left: -30%; } }
    .footer-1 h3 {
      font-size: 1.5rem; }
      @media only screen and (max-width: 37.5em) {
        .footer-1 h3 {
          font-size: 10px; } }
      @media only screen and (max-width: 15.625em) {
        .footer-1 h3 {
          font-size: 8px; } }
  .footer-2 {
    position: relative;
    padding-left: 5rem; }
    .footer-2-fig {
      position: absolute;
      left: 0%;
      top: -130%;
      background-color: #FFF8AA;
      border-radius: 50%;
      height: 40px;
      width: 40px; }
      @media only screen and (max-width: 56.25em) {
        .footer-2-fig {
          left: -5%; } }
      @media only screen and (max-width: 28.125em) {
        .footer-2-fig {
          left: -10%; } }
      @media only screen and (max-width: 21.875em) {
        .footer-2-fig {
          left: -15%; } }
      @media only screen and (max-width: 18.75em) {
        .footer-2-fig {
          left: -25%; } }
      @media only screen and (max-width: 15.625em) {
        .footer-2-fig {
          left: -30%; } }
    .footer-2 h3 {
      font-size: 1.5rem; }
      @media only screen and (max-width: 37.5em) {
        .footer-2 h3 {
          font-size: 10px; } }
      @media only screen and (max-width: 15.625em) {
        .footer-2 h3 {
          font-size: 8px; } }
